Checks: >
  -*,
  bugprone-*,
  -bugprone-reserved-identifier,
  -bugprone-easily-swappable-parameters,
  -bugprone-assignment-in-if-condition,
  -bugprone-narrowing-conversions,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-suspicious-realloc-usage,
  -bugprone-multi-level-implicit-pointer-conversion,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-optin.performance.Padding,
  performance-*,
  portability-*

WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*\.h$'
FormatStyle: none
